body {
  background-color: #ffffff;
}

 div.container {
  background-color: #ffffff;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas:
  "header header"
  "main aside"
  "footer footer";
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: #90ff00;
  grid-area: header;
}

main {
  background-color: #fff055;
  grid-area: main;
}

aside {
  background-color: #f8500f;
  grid-area: aside;
}

footer {
  background-color: #5fffaf;
  grid-area: footer
}

@media (max-width:600px) {
  div.container {
    grid-template-columns: 1fr;
    grid-template-areas:
    "header"
    "main"
    "aside"
    "footer"
  }
}
